<div class="header">
    <div class="wrapper">
        <div class="header-content">
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img class="logo-1" src="./images/logo.svg" alt="ss">
                    <img class="logo-2" src="./images/logo-s.svg" alt="ss">
                </a>
                <div class="header-left-right">
                    <a href="#" class="search-trigger call-popup" data-popup="searchPopup">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <g>
                            <path d="M9.68329 0C4.34407 0 0 4.34633 0 9.68834C0 15.0306 4.34407 19.3767 9.68329 19.3767C15.0228 19.3767 19.3666 15.0306 19.3666 9.68834C19.3666 4.34633 15.0228 0 9.68329 0ZM9.68329 17.5881C5.32969 17.5881 1.78769 14.0442 1.78769 9.68838C1.78769 5.33251 5.32969 1.78862 9.68329 1.78862C14.0369 1.78862 17.5789 5.33246 17.5789 9.68834C17.5789 14.0442 14.0369 17.5881 9.68329 17.5881Z" fill="white"/>
                            <path d="M21.7267 20.4734L16.602 15.346C16.2528 14.9966 15.6873 14.9966 15.3381 15.346C14.9889 15.6951 14.9889 16.2615 15.3381 16.6106L20.4628 21.738C20.6374 21.9126 20.8659 22 21.0948 22C21.3233 22 21.5521 21.9126 21.7267 21.738C22.0759 21.3889 22.0759 20.8225 21.7267 20.4734Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath>
                            <rect width="21.9885" height="22" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                    <div class="menu-trigger">
                        <img class="menu-trigger-open" src="./images/menu-1.svg" alt="sss">
                        <img class="menu-trigger-close" src="./images/menu-2.svg" alt="sss">
                    </div>
                </div>
            </div>
            <div class="header-right">
                <nav class="menu">
                    <ul>
                        <li class="menu-item current-menu-item">
                            <a href="services.html">Послуги</a>
                        </li>
                        <li class="menu-item">
                            <a href="cultures.html">Культурна спадщина</a>
                        </li>
                        <li class="menu-item">
                            <a href="news.html">Новини</a>
                        </li>
                        <li class="menu-item">
                        <a href="contacts.html">Контакти</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-navigation">
                    <a href="#" class="search-trigger call-popup" data-popup="searchPopup">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <g>
                            <path d="M9.68329 0C4.34407 0 0 4.34633 0 9.68834C0 15.0306 4.34407 19.3767 9.68329 19.3767C15.0228 19.3767 19.3666 15.0306 19.3666 9.68834C19.3666 4.34633 15.0228 0 9.68329 0ZM9.68329 17.5881C5.32969 17.5881 1.78769 14.0442 1.78769 9.68838C1.78769 5.33251 5.32969 1.78862 9.68329 1.78862C14.0369 1.78862 17.5789 5.33246 17.5789 9.68834C17.5789 14.0442 14.0369 17.5881 9.68329 17.5881Z" fill="white"/>
                            <path d="M21.7267 20.4734L16.602 15.346C16.2528 14.9966 15.6873 14.9966 15.3381 15.346C14.9889 15.6951 14.9889 16.2615 15.3381 16.6106L20.4628 21.738C20.6374 21.9126 20.8659 22 21.0948 22C21.3233 22 21.5521 21.9126 21.7267 21.738C22.0759 21.3889 22.0759 20.8225 21.7267 20.4734Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath>
                            <rect width="21.9885" height="22" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                    <div class="social">
                        <div class="social-top">
                            <a href="#"><img src="./images/soc-1.svg" alt="s"></a>
                            <a href="#"><img src="./images/soc-2.svg" alt="s"></a>
                            <a href="#"><img src="./images/soc-3.svg" alt="s"></a>
                        </div>
                        <a href="mailto:heritage@dniprorada.gov.ua" class="social-link">heritage@dniprorada.gov.ua</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>