<div id="searchPopup" class="popup-wrapper">
    <div class="popup-layout">
        <div class="search-popup">
            <div class="wrapper">
                <form action="#">
                    <div class="search-row">
                        <div class="search-row-input">
                            <img src="./images/search2.svg" alt="search">
                            <input type="search" placeholder="Введіть ваш запит для пошуку">
                        </div>
                        <button type="submit" class="btn">
                            <span class="btn-el">пошук</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="popup-close"><img src="./images/close-svg.svg" alt="close"></div>
        </div>
    </div>
</div>
<div id="thanksPopup" class="popup-wrapper active">
    <div class="popup-layout">
        
    </div>
</div>