@font-face {
    font-family: 'HypatiaSansPro Black';
    src: url('./fonts/hypatia/HypatiaSansPro-Black.eot');
    src: url('./fonts/hypatia/HypatiaSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hypatia/HypatiaSansPro-Black.woff2') format('woff2'),
        url('./fonts/hypatia/HypatiaSansPro-Black.woff') format('woff'),
        url('./fonts/hypatia/HypatiaSansPro-Black.ttf') format('truetype'),
        url('./fonts/hypatia/HypatiaSansPro-Black.svg#HypatiaSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro ExtraLight';
    src: url('./fonts/hypatia/HypatiaSansPro-ExtraLight.eot');
    src: url('./fonts/hypatia/HypatiaSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hypatia/HypatiaSansPro-ExtraLight.woff2') format('woff2'),
        url('./fonts/hypatia/HypatiaSansPro-ExtraLight.woff') format('woff'),
        url('./fonts/hypatia/HypatiaSansPro-ExtraLight.ttf') format('truetype'),
        url('./fonts/hypatia/HypatiaSansPro-ExtraLight.svg#HypatiaSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro Light';
    src: url('./fonts/hypatia/HypatiaSansPro-Light.eot');
    src: url('./fonts/hypatia/HypatiaSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hypatia/HypatiaSansPro-Light.woff2') format('woff2'),
        url('./fonts/hypatia/HypatiaSansPro-Light.woff') format('woff'),
        url('./fonts/hypatia/HypatiaSansPro-Light.ttf') format('truetype'),
        url('./fonts/hypatia/HypatiaSansPro-Light.svg#HypatiaSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro Semibold';
    src: url('./fonts/hypatia/HypatiaSansPro-Semibold.eot');
    src: url('./fonts/hypatia/HypatiaSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hypatia/HypatiaSansPro-Semibold.woff2') format('woff2'),
        url('./fonts/hypatia/HypatiaSansPro-Semibold.woff') format('woff'),
        url('./fonts/hypatia/HypatiaSansPro-Semibold.ttf') format('truetype'),
        url('./fonts/hypatia/HypatiaSansPro-Semibold.svg#HypatiaSansPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro Regular';
    src: url('./fonts/hypatia/HypatiaSansPro-Regular.eot');
    src: url('./fonts/hypatia/HypatiaSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hypatia/HypatiaSansPro-Regular.woff2') format('woff2'),
        url('./fonts/hypatia/HypatiaSansPro-Regular.woff') format('woff'),
        url('./fonts/hypatia/HypatiaSansPro-Regular.ttf') format('truetype'),
        url('./fonts/hypatia/HypatiaSansPro-Regular.svg#HypatiaSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HypatiaSansPro Bold';
    src: url('./fonts/hypatia/HypatiaSansPro-Bold.eot');
    src: url('./fonts/hypatia/HypatiaSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/hypatia/HypatiaSansPro-Bold.woff2') format('woff2'),
        url('./fonts/hypatia/HypatiaSansPro-Bold.woff') format('woff'),
        url('./fonts/hypatia/HypatiaSansPro-Bold.ttf') format('truetype'),
        url('./fonts/hypatia/HypatiaSansPro-Bold.svg#HypatiaSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

