.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 20px 0;
    background: #B6391E;
    @media (max-width: 1100px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .logo {
            position: relative;
            width: 100%;
            max-width: 344px;
            margin-right: 15px;
            @media (max-width: 1100px) {
                max-width: 220px;
                margin-right: 0;
            }
            & img {
                max-width: 100%;
                transition: 0.1s ease;
            }
            &-1 {
                display: block;
            }
            &-2 {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transform: translate(2px, 2px);
                transition: none;
            }
        }
    }
    &-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 991px;
        @media (max-width: 1100px) {
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            z-index: 20;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 100%;
            padding: 20px;
            background: #B6391E;
            mix-blend-mode: normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            transition: 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }
    }
    &-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1100px) {
            position: relative;
            z-index: 22;
            width: calc(100% + 40px);
            margin: 0 -20px;
            padding: 10px 20px;
            min-height: 60px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        }
        &-right {
            position: relative;
            display: none;
            @media (max-width: 1100px) {
                display: block;
            }
            & .search-trigger {
                position: absolute;
                z-index: 2;
                top: 50%;
                right: calc(100% + 29px);
                transform: translateY(-50%);
                transition: 0.3s ease;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    & .menu {
        width: 100%;
        max-width: 560px;
        margin-right: 26px;
        @media (max-width: 1100px) {
            max-width: 100%;
            margin-right: 0;
        }
        & ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0 20px 0 0;
            width: 100%;
            @media (max-width: 1100px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 22px;
            }
            & li {
                & a {
                    display: block;
                    font-family: 'HypatiaSansPro Bold';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: 0.3s ease;
                    &:hover {
                        color: #F5AF19;
                    }
                }
                &:not(:last-child) {
                    margin-right: 10px;
                    @media (max-width: 1100px) {
                        margin: 0 0 25px;
                    }
                }
                &.current-menu-item a {color: #F5AF19;}
            }
        }
    }
    &-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 212px;
        & .search-trigger {
            margin-right: 26px;
            @media (max-width: 1100px) {
                display: none !important;
            }
        }

    }
    & .search-trigger {
        display: block;
        width: 22px;
        & svg {
            width: 100%;
            & path {
                transition: 0.3s ease;
            }
        }
        &:hover {
            @media (min-width: 1101px) {
                & svg {
                    & path {
                        fill: #F5AF19;
                    }
                }
            }
        }
    }
    &.open {
        @media (max-width: 1100px) {
            & .menu-trigger-open,
            & .logo-1 {
                opacity: 0;
                visibility: hidden;
            }
            & .menu-trigger-close,
            & .logo-2,
            & .header-right,
            & .header-left-right .search-trigger {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.menu-trigger {
    position: relative;
    display: none;
    @media (max-width: 1100px) {
        display: block;
    }
    & img {
        transition: 0.3s ease;
    }
    &-close {
        position: absolute;
        top: 43%;
        left: 52%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
    }
}