.article {
    &:not(:last-child) {
        margin-bottom: 30px;
        @media (max-width: 992px) {
            margin-bottom: 41px;
        }
    }
    & .date-item {
        margin-bottom: 30px;
    }
    &-cnt {
        padding: 100px 122px 90px;
        background-color: #fff;
        @media (max-width: 992px) {
            padding: 30px 10px;
        }
    }
}